<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>

    <table border="1">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
        </tr>

        <tr th:each="usuario : ${userList}">
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.email}"></td>
            <td>
            <form th:action="@{/usuarios/{id}/deletar(id=${usuario.getEmail()})}" th:method="delete">
                <button type="submit">Enviar</button>
            </form>
            </td>
        </tr>
    </table>


</body>
</html>